env:
  es6: true
  node: true
parser: babel-eslint
plugins:
  - jsx
  - import
  - react
rules:
  indent:
    - error
    - 2
  max-len:
    - error
    - 80
    - 2
  object-curly-spacing:
    - error
    - always
  quotes: off
  no-ternary: off
parserOptions:
  ecmaVersion: 2017
